<a href="https://colab.research.google.com/github/JoongseokPark/R_studio_2023/blob/main/R_programming_6%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이프 연산자
- %>%
- 함수 여럿을 쓸 때 괄호를 단순하게 바꾸고, 가독성을 높일 때 사용용

In [ ]:
data(mtcars)
mtcars

In [ ]:
# str은 데이터 안의 변수 타입을 알려준다.
str(mtcars)

In [ ]:
install.packages("dplyr")
library(dplyr)
#group_by 포함함

In [ ]:
install.packages("psych")
library(psych)

In [ ]:
arrange(group_by(mtcars,cyl))

In [ ]:
# %>% 파이프 연산자
# group_by %>% arrange ()

mtcars %>% filter(cyl == 4) %>% summarise(n())

**arrange()**

- 변수를 괄호 안의 변수의 순위에 따라 내림차순 정렬
- ( desc() ) 를 사용하면 오름차순으로 정렬

**mutate()**

- (데이터 프레임, 새 변수명 = 넣을 데이터)
- 데이터 프레임에 지정한 변수를 추가한다

In [ ]:
mtcars %>% mutate(rank_mpg = rank(-mpg)) %>% arrange(desc(-rank_mpg))

**연습문제**
- 차들의 순위 매기기
1. mpg, hp, qsec
2. 세 변수의 순위로 arrange()
3. 파이프 연산자 사용용

In [ ]:
mtcars %>% mutate(good_car = rank(rank(-mpg) + rank(-hp) + rank(qsec))) %>% arrange(desc(-good_car))

In [ ]:
print(rank(mtcars$mpg))
print(rank(mtcars$hp))
print(rank(mtcars$qsec))

In [ ]:
install.packages("readxl")
library(readxl)

In [ ]:
m_history = read_excel("/content/sample_data/Sample2_m_history.xlsx")
f_history = read_excel("/content/sample_data/Sample3_f_history.xlsx")
y20_history = read_excel("/content/sample_data/Sample5_y20_history.xlsx")
y21_history = read_excel("/content/sample_data/Sample4_y21_history.xlsx")

In [ ]:
m_history
f_history

In [ ]:
# bind_row 세로가 길어짐

bind_rows(m_history, f_history)

In [ ]:
#left_join = 괄호 왼쪽의 데이터를 중심으로 결합
# 왼쪽에 있으나 오른쪽에 없다 => 데이터가 NA로 표현
# 오른쪽에 있으나 왼쪽에 없다 => 데이터 행 없음

left_join(y20_history, y21_history)
right_join(y20_history, y21_history)

In [ ]:
#inner_join = 교집합만 결합

inner_join(y20_history, y21_history)

In [ ]:
#full_join = 합집합으로 결합

full_join(y20_history, y21_history, by = "ID") #by ID는 기준

In [ ]:
full_join(y20_history, y21_history,by = "ID") %>% arrange(desc(-ID))

In [ ]:
install.packages("reshape2")
library(reshape2)

**reshape2 함수**

- melt() = 행과 열 전치(교환)
- dcast( 행~열 ) = 분리
- acast( 행~열 ) = 분리

In [ ]:
name <- c("주현", "슬기", "예리")
Kor <- c(90,95,85)
Eng <- c(100,95,85)
Math <- c(80,90,100) 
grade <- data.frame(name,Kor,Eng,Math)
grade

In [ ]:
m <- melt(grade)
m

In [ ]:
k <- melt(grade, if.vars = "name", measure.vars = c("Kor", "Eng"), value.name = "score")
k

In [ ]:
data(airquality)
airquality

air <- data(airquality)

In [ ]:
melt(airquality)

In [ ]:
# Month와 Day는 행으로 Ozone 열으로 
k <- melt(airquality, if.vars = c("Month","Day"), measure.vars = "Ozone")
k

In [ ]:
#세로가 긴 데이터 => 가로가 긴 데이터

air_dcast <- dcast(k, Month+ Day ~ variable)
air_dcast