<a href="https://colab.research.google.com/github/JoongseokPark/R_studio_2023/blob/main/R_stdio_third.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#반복문

형식
>for (조건){ 내용 }

In [ ]:
for(i in 3:4){ for(j in 1:9){print(i*j)}}

In [ ]:
#1~100 3의 배수 출력

for(i in 1:100){
  if(i%%3 == 0){
    print(i)
  }
}

여러 원소를 print 하나로 출력할 때는 print 함수 안에 paste 함수를 추가로 사용한다
>print(**paste**("내용","내용2",변수))

In [ ]:
#R에서 print로 여러 원소 출력

for(i in 1:9){
  print(paste("2 X",i,"=",i*2))
}

In [ ]:
sum <- 0
for(i in 1:10){
  print(paste(sum,"+",i,"=",sum+i))
  sum <- sum + i
}
print(sum)

#사용자 입력
> 변수 <- readline()

In [ ]:
num <- readline(prompt="Enter number: ")
fact <- 1
for(i in 1:num){
  print(paste(fact,"X",i,"=",fact*i))
  fact <- fact * i
}

#줄넘김
> **cat**("\n")

In [ ]:
for(i in 6:9){
  for(j in 1:9){
    print(paste(i,"X",j,"=",i*j))
  }
  cat("\n")
}

#사용자 함수
>함수명 <- **function**(매개변수,~){ 함수 내용 return(반환값)}

In [ ]:
total_sum <- function(){
  sum <- 0
  for(i in 1:5){
    num <- readline(prompt="Enter number to add: ")
    num <- strtoi(num)
    print(paste(sum,"+",num,"=",sum+num))
    sum <- sum + num
  }
}

In [ ]:
total_sum()

In [ ]:
FAC <- function(num){
fact <- 1
for(i in 1:num){
  print(paste(fact,"X",i,"=",fact*i))
  fact <- fact * i
}
}

In [ ]:
num <- readline(prompt="Enter number: ")
FAC(num)

기능 함수 만들기
- 총합
- 평균
- 순차곱
- 원하는 배수 찾기(X<100)
- 짝 & 홀 판단

In [ ]:
#총합
Add_up <- function(){

num <- readline(prompt="Enter number: ")
sum <- 0

for(i in 1:num){
  print(paste(sum,"+",i,"=",sum+i))
  sum <- sum + i
}

return(sum)
}

In [ ]:
Add_up()

In [ ]:
#평균
Mean <- function(){

num <- readline(prompt="Enter number: ")
num <- strtoi(num)
mean <- 0

for(i in 1:num){
  mean <- mean + i
}
mean <- mean/num
return(mean)
}

In [ ]:
Mean()

In [ ]:
#순차곱
FAC <- function(num){
fact <- 1
for(i in 1:num){
  print(paste(fact,"X",i,"=",fact*i))
  fact <- fact * i
}
}

In [ ]:
num <- readline(prompt="Enter number: ")
FAC(num)

In [ ]:
#원하는 배수 찾기
Finding <- function(num){
  for(i in 1:100){
    if(i%%num == 0){
      print(paste(num,"->",i))
    }
  }
}

In [ ]:
Finding(5)

In [ ]:
#짝 & 홀 판단
MeanAdd <- function(num){
  if(num%%2 == 0){
    print(paste(num,"= 짝수입니다"))
  }else{print(paste(num,"= 홀수입니다"))}  
}

In [ ]:
MeanAdd(1244356)

In [ ]:
min(100,4,37)

#내장 함수
- apply = matrix에서 행렬에 대해 반복해주는 기능
> 2X3 행렬, Mat에서 apply(Mat,1,sum) 사용 시 Mat의 가로줄의 총합을 반환한다.
- sum = 일정 변수의 총합
- mean = 평균
- min, max, median = 최소값, 최대값, 중앙값
- range, IQR = 범위
- Var = 분산
- Sd = 표준편차
- rank(x), rank(-x)
- length = 길이
- str() = 데이터 간략 정리
- summary() = 데이터 간략 정리
- head() = 데이터 전체 출력
- hit, skewness, kurtosis = 왜도, 첨도

In [ ]:
install.packages("fBasics")
library(fBasics)
data(mtcars)

In [ ]:
Mat <- matrix(1:6,2,3)
print(Mat)

apply(Mat,1,sum) # 1+3+5 = 9, 2+4+6 = 12
apply(Mat,2,sum) # 1+2 = 3, 3+4 = 7, ~

In [ ]:
iris #붓꽃 데이터

In [ ]:
apply(iris[,1:4],2,sum)
apply(iris[,1:4],2,mean)

In [ ]:
head(mtcars) #차량 데이터
# mpg 33.9 = 14.3 kmpl

In [ ]:
summary(mtcars)

In [ ]:
mpg <- mtcars$mpg
mpg
length(mpg)
sum(mpg)
Mpg <- matrix(mpg,8,4)
Mpg

In [ ]:
apply(mtcars,2,sum)
apply(mtcars,2,mean)
apply(mtcars,2,min)
apply(mtcars,2,max)
apply(mtcars,2,median)
apply(mtcars,2,range)

In [ ]:
LIst <- c(1,5,3,4,6,8,5,3,2,7,9,13)
rank(LIst)