<a href="https://colab.research.google.com/github/JoongseokPark/R_studio_2023/blob/main/R_studio_2nd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩 주소 drive 뒤를 #create=true&language=r 로 바꾸어 R 스튜디오 사용

변수명<-c(값) 
- 변수 대입 함수

R에서의 집합 = 벡터
- c("값", "값2") 형식

메트릭스 사용
- A = [1,2,3,5,6,7,8,9] (3X3) 시용법
- x = [1,2,3,5,6,7,8,9]
- A <- matrix(x,nrow=3,ncol=3)

In [ ]:
x <- c(1,2,3,4,5,6,7,8,9)
A <- matrix(x,nrow=3,ncol=3)
A

In [ ]:
B <- matrix(x,nrow=3,ncol=3,byrow=1) #byrow로 출력 순서 변경
B

In [ ]:
xx <- c(1,2,3,4,5,6)
arr <- array(xx,dim= c(2,2,3)) #R에서는 수의 집합은 항상 c(1,2,4) 형식으로 사용 
arr[,,1] #앞의 2,2 크기는 생략 뒤의 주소만 입력

In [ ]:
xx <- c(1,2,3,4,5,6,8,9)
arr <- array(xx,dim= c(3,3,3))
arr[,,3]

In [ ]:
ID <- c(1,2,3,4,5,6,7,8,9,10)
Sex <- c('F','F','M','M','F','M','F','M','F','M')
Age <- c(30,23,25,26,56,54,43,37,43,34)
Area <- c("제주","서울","서울","경기","제주","인천","경기","인천","제주","제주")

f <- data.frame(ID,Sex,Age,Area) #여러개의 벡터를 하나의 프레임으로 묵음 
f 
str(f) #데이터프레임 정보 표시

In [ ]:
f$Sex <- factor(Sex, labels = c("F","M"))
f$Area <- factor(Area, labels = c("서울","경기","인천","제주"))
str(f)

In [ ]:
f$Age
str(Age) #데이터의 형식 정보 전부 출력
mode(Age) #데이터의 형식만 출력
length(Age) #데이터의 길이 출력

R 데이터 유형
- numeric = 숫자형
- character = 문자형
- factor = 범주형(척도,명목형)
- logical = 논리형 (TRUE,FALSE)

In [ ]:
mode(TRUE)
mode(FALSE)

In [ ]:
fruit <- c("사과","바나나","체리","사과","바나나","체리","사과","바나나","체리","바나나")
fruit <- factor(fruit,labels = c("사과","바나나","체리"))

#Nation <- c("한국","일본","미국","독일","폴란드","프랑스","베트남","인도","르완다","러시아")

str(fruit)

In [ ]:
x <- 1:10 #range 역할 = 1부터 10까지의 범위
# 1 <= x <= 10 
y <- 10:1

x
y

In [ ]:
print(x)
print(y)

조건문
- 연산자 = +,-,*,/
- %%(나머지), %/%(정수 나누기)
- ** , ^ = 제곱수 
- ,>, >=, <, <=, ==, !=, ! (조건에 따라 참, 거짓 반환)  
- &(교집합), |(합집합)
>- 진리집합 = 어떤 조건에 만족하는 집합합

In [ ]:
5%%3 #나머지
5%/%3 #정수 몫

In [ ]:
a <- 10
if(a%%2 == 0){
  print("짝수")
}else{  #else 문은 전 조건의 괄호 뒤에 붙인다다
  print("홀수")
}

In [ ]:
#1번 
a <- 20
b <- 15
c <- 1

if(a<b){
  if(b<c){
    print("가장 큰 수 C")
    biggest <- c
  }else{
    print("가장 큰 수 B")
  }
}else{
  if(a<c){
    print("가장 큰 수 C")
  }else{
    print("가장 큰 수 A")
  }
}
print(biggest)

In [ ]:
#2번 
a <- 200
b <- 100
c <- 1000

first <- 0
second <- 0
third <- 0

if(a<b){
  if(b<c){
    first <- c
    second <- b
    third <- a
  }else{
    first <- b
    if(a<c){
      second <- c
      third <- a
    }else{
      second <- a
      third <- c
    }
  }
}else{
  if(a<c){
    first<-c
    second<-a
    third<-b
  }else{
    first<-a
    if(c<b){
      second <- b
      third <- c
    }else{
      second <- c
      third <- b
    }
  }
}
List<-c(first,second,third)
print(List)

In [ ]:
#3번 윤년
year <- 2004

if((year%%4 == 0 & year%%100 != 0 | year%%400 == 0)){
  print("윤년입니다")
}else{print("윤년이 아닙니다")}

반복문
- for(변수 in 범위){내용}
- for(i in 1:10){print(i)}

In [ ]:
#4번
for(i in 1:9){
  for(j in 1:9){
    print(i*j)
  }
}

In [ ]:
#5번
sum <- 0
for(i in 1:100){
  sum <- sum + i
}
print(sum)

In [ ]:
#6번
a <- 5
sum <- 1
for(i in 1:a){
  sum <- sum*i 
}
sum

In [ ]:
#7번
for(i in 1:100){
  if(i%%2 == 0){print("짝수입니다")
  }else{print("홀수입니다")}
}

In [ ]:
#8번
for(i in 1:100){
  if(i%%5 == 0){print("5의 배수")
  }else{print("5의 배수가 아님")}
}

In [ ]:
#9번
for(i in 1:100){
  if(i%%2 == 0&i%%3 == 0){print("2와3의 공배수입니다")
  }else{print("2와3의 공배수가 아닙니다")}
}

In [ ]:
#10번
sum <- 0
for(i in 1:100){
  sum <- sum + i
}
print(sum/100)